{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<style>
  ul li{
  font-size:16px;
  }
  a {
    color: darkcyan;
  }
  .card {
   display: flex;
   flex-direction: row-reverse;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 20px;
   max-width: auto;
 }
 .card img {
   width: 100%;
   height: auto;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
 }
 .card-content {
   padding: 20px;
 }
 .card-content h2 {
   margin-top: 0;
 }
 </style>
 <div class="card">
  <div class="card-content">

    <div class="{{ include.type | default: "list" }}__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <div style="display: flex; justify-content: space-between; align-items: baseline;">
          <h3 class="archive__item-title" itemprop="headline">
            {% if post.link %}
              <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% else %}
              <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
            {% endif %}
          </h3>
          {% if post.startdate %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ default: "" }}</strong> <time datetime="{{ post.startdate | default: "1900-01-01" | date_to_xmlschema }}">{{ post.startdate | default: "1900-01-01" | date: "%B %Y" }}</time> - <time datetime="{{ post.enddate | default: "1900-01-01" | date_to_xmlschema }}">{{ post.enddate | default: "1900-01-01" | date: "%B %Y" }}</time></p>
          {% endif %}
        </div>

        {% if post.excerpt and site.read_more != 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% elsif post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
        {% endif %}
        
      </article>
    </div>
  </div>
</div>